name: ansible-lint
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
    
jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Installs
     	run: |
     		python -m pip install --upgrade pip
     		pip install ansible==8.6.1 ansible-core==2.15.5 ansible-lint==24.7.0
      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
