name: ansible-lint
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-22.04
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    
    - name: Install Ansible and dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ansible==8.6.1 ansible-core==2.15.5 ansible-lint==24.7.0
    
    - name: Run ansible-lint
      run: ansible-lint .
